<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="/css/addProduct.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/orders">Orders</a></li>
                <% if(isLoggedIn == true) {%>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/admin/products">Admin Products</a></li>
                <% } %>
                <% if(!isLoggedIn) {%>       
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">SignUp</a></li>
                  <% } else {%> 
                    <li><a href="/logout">Logout</a></li>
                  <% } %>                  
            </ul>
        </nav>
    </header>

    <main>
        <% if(errorMessage) {%>
            <div><%= errorMessage %></div>
        <% } %>
        <form action="/admin/edit" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title">Title:</label>
                <input class="<%= validationErrors.find(e => e.param === 'productName') ? 'invalid' : '' %>" type="text" name="productName" id="title" value="<%= prods.title %>">
            </div>            

            <div>
                <label for="image">Image:</label>
                <input type="file" name="image" id="image" />
              </div>      
            
            <div>
                <label for="price">Price:</label>
                <input class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" value="<%= prods.price %>">
            </div>

            <div>
                <label for="description">Description:</label>
                <input class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" name="description" id="description"  rows="5" value="<%= prods.description %>" ></input>
            </div>

            <button type="submit">Update Product</button>
            <input type="hidden" name="productId" value="<%= prods._id %>">
        </form>
    </main>
</body>
</html>